#nav-capitulo{
    padding-top: 2%;
    align-items: center;
}

#boton{
    background: rgb(2,120,177);
    background: linear-gradient(90deg, rgba(2,120,177,1) 0%, rgba(103,188,228,1) 100%);
    padding: 2% 6%;
    margin-bottom: 2%;
    border-radius: 5%;
    font-size:medium;
}

.incrustado{
  object-fit: cover;
  width:100%;
  height:100%;
}

article{
    padding-bottom: 2%;
}